@inject XperienceCommunity.GenericEcommerce.AcceptJS.IAcceptJSOptions options
<form id="paymentForm"
    method="POST"
    action="/AcceptJS/Payment">
    <button type="button"
        class="AcceptUI btn btn-primary btn-lg btn-block"
        data-billingAddressOptions='{"show":true, "required":true}' 
        data-apiLoginID="@options.AcceptJSApiLoginID()" 
        data-clientKey="@options.AcceptJSClientKey()"
        data-acceptUIFormBtnTxt="Submit Payment" 
        data-acceptUIFormHeaderTxt="Card Information"
        data-paymentOptions='{"showCreditCard": true, "showBankAccount": false}' 
        data-responseHandler="acceptJSPaymentResponse">Submit Payment
    </button>
</form>
<script type="text/javascript" data-initialize>
    if (!window.acceptJSLoaded) {
        var script = document.createElement('script');
        script.type = "text/javascript";
        script.src = "https://@(options.JsDomain())/v3/AcceptUI.js";
        document.body.appendChild(script);
        window.acceptJSLoaded = true;
    }

    acceptJSPaymentResponse = async function(response) {
         if (response.messages.resultCode === "Error") {
            var i = 0;
            while (i < response.messages.message.length) {
                console.log(
                    response.messages.message[i].code + ": " +
                    response.messages.message[i].text
                );
                i = i + 1;
            }
        } else {
            checkout.paymentObject = {
                dataDescriptor: response.opaqueData.dataDescriptor,
                dataValue: response.opaqueData.dataValue
            }
            checkout.sendCreateOrder(event);
        }
    }

    checkout.sendCreateOrder = function (ev) {
        if(!checkout.orderGUID) {
            document.body.dispatchEvent(checkout.createOrderEvent);
        } else {
            checkout.payment(null);
        }
    }

    checkout.payment = async function (ev) {
        checkout.paymentObject.orderGUID = checkout.orderGUID;
        fetch("/AcceptJS/Payment", {
            method: "POST",
            body: ecommerceClass.getJSON(checkout.paymentObject),
            headers: ecommerceClass.getPostHeaders()
        }).then((result) => {
            return result.json();
        }).then((json) => {
            document.body.dispatchEvent(checkout.paymentResultEvent(json));
        });
    };


</script>